<div>
    <% @movies.each do |movie| %>
        <img src= <%= movie.image_url %> />
        <p><%= movie.name %></p>
        <p><%= movie.year %></p>
        <p><%= movie.description %></p>
    <% end %>
</div>